{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        {% if product.image %}
            <img class="thumbnail" src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
            <img class="thumbnail" src="{% static 'images/default.jpg' %}" alt="Default Image">
        {% endif %}
    </div>
    <div class="col-lg-6">
        <h1>{{ product.name }}</h1>
        <h4>${{ product.price }}</h4>
        <p>{{ product.description }}</p>
        <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
    </div>
</div>
{% endblock content %}
